<div>
  <div class="questons" style="max-height: 100vh; overflow-y: scroll">
    <label for="question1">
      What's the situation? Feel free to explain it in as much detail as you'd
      like.
    </label>
    <textarea
      id="question1"
      name="question1"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question2">
      What part of the situation is most troubling?
    </label>
    <textarea
      id="question2"
      name="question2"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question3">What are you thinking to yourself? </label>
    <textarea
      id="question3"
      name="question3"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question4">What thought is the most troubling? </label>
    <textarea
      id="question4"
      name="question4"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question5">What do you feel when you think this? </label>
    <textarea
      id="question5"
      name="question5"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question6"
      >When you have these feelings, what actions do you take? What actions do
      you avoid?
    </label>
    <textarea
      id="question6"
      name="question6"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question7"
      >Re-type the summary of the situation in the following format: Trigger:
      Thought: Feeling: Behavior
    </label>
    <textarea
      id="question7"
      name="question7"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question8"
      >Consider whether the trigger truly justifies this type of thinking.
      Explain below.
    </label>
    <textarea
      id="question8"
      name="question8"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>

    <label for="question9"
      >If you were to explore an alternative line of thinking, how would you do
      it?
    </label>
    <textarea
      id="question9"
      name="question9"
      rows="2"
      placeholder="Your answer..."
      style="margin: 10px 0px"
    ></textarea>
  </div>
  <button type="submit" class="submit-button" id="submit-btn">
    Save and Continue
  </button>
</div>
